@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'RIDIBatang';
    src: url('../font/ridi_batang.otf');
}

@font-face {
    font-family: 'KopubBatang';
    src: url('../font/kopub_batang.ttf');
}

@font-face {
    font-family: 'NotoSans';
    src: url('../font/notosans_light.otf');
}

@font-face {
    font-family: 'NotoSansThin';
    src: url('../font/notosans_thin.otf');
}

* {
    font-family: "Pretendard", system-ui, -apple-;
}

body {
    margin: 0px;
    width: 100%;
    word-break: keep-all;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    body {
        display: block;
    }
}

.body-content {
    margin: 16px;
    max-width: 450px;
}

.header {
    max-width: 482px;
}

#nav-menu {
    background-color: #2F7CF6;
    margin-bottom: 38px;
    /* padding-top: 16px; */
}

#credit {
    font-size: 14px;
    color: #8E8E92;
    /* margin-bottom: 32px; */
    background-color: #F2F2F7;
    padding: 32px 16px;
}

.credit-text {
    font-weight: bold;
    
    margin-bottom: 12px;
}

.credit-link {
    margin-bottom: 8px;
}

#error p {
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 16px;
    color: #FF1E1E;
}

#loading p {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 16px;
    color: #8E8E92;
}

#saveGuide p {
    font-size: 20px;
    font-weight: normal;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #2C2C2E;
}

p {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 12px;
    margin-top: 24px;
    color: #2C2C2E;
}

#productName {
    font-size: 12px;
    font-weight: bold;
    background-color: #2F7CF6;
    padding: 24px 16px;
}

#selectImage img {
    width: 44px;
    border-radius: 6px;
}

#result img {
    width: 100%;
    border-radius: 6px;
}

.container {
    margin-top: 16px;
    overflow: auto;
    white-space: nowrap;
    /* width: 500px; */
}

.item {
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    white-space: normal;
}

.item-button {
    padding: 0px;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    white-space: normal;
}

*:focus {
    outline: none;
}

#detailInput {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputLink {
    background-color: #F2F2F7;
    font-size: 19px;
    padding: 16px;
    border: 0px;
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
}

.inputTweetName {
    background-color: #F2F2F7;
    font-size: 16px;
    padding: 16px;
    margin-bottom: 16px;
    border: 0px;
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
}

.selected {
    border: solid 2px #2F7CF6;
}

.no-selected {
    padding: 2px;
}

.fontButton {
    padding: 12px 16px;
    font-size: 14px;
    background-color: #F2F2F7;
    border-radius: 6px;
}

.selected-font {
    background-color: #2F7CF6;
    color: #FFFFFF;
}

.divied {
    background: #F2F2F7;
    width: 100%;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.divied-bottom {
    margin-top: 46px;
    height: 1px;
    margin-bottom: 46px;
}

.colorButtonWhite {
    padding: 12px 16px;
    font-size: 14px;
    background-color: #1C1C1E;
    border-radius: 6px;
    color: #FFFFFF;
}

.colorButtonBlack {
    padding: 12px 16px;
    font-size: 14px;
    background-color: #F2F2F7;
    border-radius: 6px;
}



.mobile-bottom-nav{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:1000;
	
	will-change:transform;
	transform: translateZ(0);
	
	display:flex;	
	
	height:50px;
	
	box-shadow: 0 -2px 40px -2px #CCC;
	background-color:#2F7CF6;
}

.mobile-bottom-nav__item{
    flex-grow:1;
    text-align:center;
    font-size:14px;
    font-weight: normal;
    color: #FFF;

    display:flex;
    flex-direction:column;
    justify-content:center;
}

a.credit{
    color: #8E8E92;
}

.nav-link {
    color: #E5E5EA;
    padding: 0px 0px 16px 0px;
    margin: 0rem 1rem;
}

.nav-link.active{
    color: #FFFFFF;
    font-weight: bold;

    border-bottom: 2px solid #BBE3FF;
    position: relative;
}