<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>WIMO Share</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <script src='main.js'></script> -->
    <meta property="og:title" content="WIMO Share" />
    <meta property="og:description" content="웹소 글귀 공유 짤 만들기 위모" />
    <meta name="description" content="웹소 글귀 공유 짤 만들기 위모" />
    <meta property="og:url" content="https://share.wimouniv.com/" />
    <meta property="og:image" content="" />

    <link rel="apple-touch-icon" sizes="57x57" href="./image/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./image/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./image/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./image/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./image/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./image/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./image/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./image/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./image/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./image/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./image/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./image/favicon/favicon-16x16.png">
    <link rel="manifest" href="./image/favicon/manifest.json">

    <!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 상용버전, 속도와 용량이 최적화됨. -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    
    <script src="https://cdn.jsdelivr.net/npm/fabric@4.5.0/dist/fabric.min.js"></script>
    <script data-ad-client="ca-pub-1514313371293640" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel='stylesheet' type='text/css' media='screen' href='style/main.css'>
</head>
<body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    let firebaseConfig = {
        apiKey: "AIzaSyD_F_ESTDyLHvTOv1QrzUbiy6Gt0sQCS4k",
        authDomain: "widi-share.firebaseapp.com",
        projectId: "widi-share",
        storageBucket: "widi-share.appspot.com",
        messagingSenderId: "1051941909584",
        appId: "1:1051941909584:web:e1bb94be2b95f2465b8d55",
        measurementId: "G-MNCR6GZVDZ"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    const analytics = firebase.analytics();
    const db = firebase.firestore();
    </script>
    <div id="app">
        <!-- <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-sprUUbzsH1FNCx00" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins>  -->
            
        <div class="header">
            <div id='productName'>
                <img src="./image/header_round.svg" @click="moveHome">
            </div>
            <!-- <div id='nav-menu'>
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link" :class="checkTab(0)" @click="changeTab(0)" href="#">트윗 링크 입력</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" :class="checkTab(1)" @click="changeTab(1)" href="#">직접 입력</a>
                    </li>
                </ul>
            </div> -->
        </div>
        
        <div class="body-content">
            <div id='inputText' v-if="currentTab == 0">
                <!-- <p>트윗 링크를 넣으면 이미지가 생겨요</p>
                <input 
                    type="text" 
                    id="twitterLink" 
                    v-model="twitterLink" 
                    placeholder="http://"
                    @keyup="generateImage"
                    @change="generateImage"
                    @input="generateImage"
                    @paste="generateImageFromPaste"
                    class="inputLink">
                </input> -->
            </div>

            <div id='detailInput' v-else>
                <p style="margin-top: 0px; font-weight: 700;">이미지로 만들고 싶은 <br>내용을 써주세요</p>
                <textarea 
                    type="text" 
                    v-model="tweetText" 
                    placeholder="내용을 넣어주세요"
                    style="resize: none; height: 200px; margin-bottom: 12px; margin-top: 20px;"
                    class="inputTweetName">
                <!-- @keyup="render"
                    @change="render"
                    @input="render"
                    @paste="render" -->
                </textarea>
                <input 
                    type="text" 
                    v-model="tweetName" 
                    placeholder="제목"
                    class="inputTweetName">
                </input>
                <input 
                    type="text" 
                    v-model="tweetUsername" 
                    placeholder="글쓴이"
                    class="inputTweetName">
                </input>
            </div>
    
            <div id='error'>
                <p>{{ errorMessage }}</p>
            </div>
    
            <div id='loading'>
                <p>{{ loadingMessage }}</p>
            </div>

            <!-- <div id='result2'>
                <a :href="imageData" download="image.png" id="embedImage">Download</a>            
            </div> -->
    
            <div id='selectImage' class="container ps-0 pe-0">
                <div v-for="image in imageList" class="item">
                    <!-- <input type="radio" :id="image" :value="image" v-model="selectImage" @change="generateImage"> -->
                    <!-- <label :for="image"> -->
                    <div @click="onclickImage(image)">
                        <img :id="image.file" :src="'./image/' + image.file + '.png'" :class="checkSelected(image)"/>
                    </div>
                    <!-- </label> -->
                </div>
            </div>

            <input 
                type="file" 
                ref="fileupload"
                v-on:change="changeImageInput" 
                style="margin-top: 16px;"
                >
            </input>
    
            <!-- <div class="divied"></div> -->
    
            <div id='selectFont' class="container ps-0 pe-0" style="margin-top: 24px;">
                <div v-for="font in fontList" class="item-button">
                    <div class="fontButton" @click="onclickFont(font.family)" :class="checkSelectedFont(font.family)">
                        {{ font.name }}
                    </div>
                </div>
            </div>
    
            <!-- <div class="divied"></div> -->
    
            <div id='selectColor' class="container ps-0 pe-0" style="margin-top: 20px;">
                <div class="item-button" style="margin-right: 8px;">
                    <div class="colorButtonWhite" @click="onclickColor('#FFFFFF')">
                        하얀색 글씨
                    </div>
                </div>
                <div class="item-button">
                    <div class="colorButtonBlack" @click="onclickColor('#1C1C1E')">
                        검정색 글씨
                    </div>
                </div>
            </div>

            <!-- <div class="divied"></div> -->
    
            <div id='selectCharSpacing' class="container ps-0 pe-0" style="margin-bottom: 20px; margin-top: 24px;">
                <div class="item-button" style="height: 40px; margin-left: 8px;">
                    <div style="display: flex; height: 40px; align-items: center; font-size: 14px;">
                        자간
                    </div>
                </div>
                <div class="item-button" style="margin-right: 8px;">
                    <div style="padding: 0px 8px; height: 40px; display: flex; align-items: center; justify-content: center;">
                        <input type="range" min="0" max="1000" value="100" step="10" class="slider" id="myRange" 
                        style="width: 200px; height: 100%; outline: none;" 
                        v-model="selectCharSpacing">
                        <!-- @change="render" -->
                    </div>
                </div>
            </div>
            <!-- <div id='saveGuide'>
                <p v-html="resultMessage"></p>
            </div> -->
        </div>
        
        <div>
            <div  @click="openDuetTodo" id="" 
                style="background-color: black;padding: 16px;display: flex;align-items: center;justify-content: space-between;">
                <div style="display: flex;">
                    <div style="">
                        <img src="./image/banner_image.png" class="" style="width: 40px;">
                    </div> 
                    <div style="margin-left: 12px;">
                    <div class="" style="
                            color: white;
                            font-size: 16px;
                            font-weight: bold;
                        ">
                            듀엣투두
                        </div> 
                        <div class="" style="
                            color: white;
                            opacity: 50%;
                            font-size: 14px;
                        ">
                            오타쿠용 할일 관리 앱
                        </div>
                    </div> 
                </div>
                <div class="" style="background-color: #2F7CF6; padding: 4px 18px; border-radius: 100px;">
                    <div class="" style="
                        font-size: 12px;
                        font-weight: normal;
                        color: white;">
                        받기
                    </div>
                </div>
            </div>
        </div>
        <!-- https://apps.apple.com/kr/app/%EB%93%80%EC%97%A3%ED%88%AC%EB%91%90/id6445875698 -->

        <div id="credit">
            <div class="credit-text">
                서비스
            </div>
            <div class="credit-link">
                <a href="https://twitter.com/widishare2021" class="credit" target="_blank">버그 신고 및 제휴 문의</a>
            </div>
            <div style="margin-bottom: 16px;">
            </div>
            <div class="credit-text">
                만든 사람
            </div>
            <div class="credit-link">
                <a href="https://twitter.com/FlatcherLynd" class="credit" target="_blank">윌리 👀</a>
            </div>
        </div>

        <div style="display: none;">
            <canvas id="canvas" ></canvas>
            <img id="logo" src="./image/logo.png"/>
        </div>

        <div class="float-bottom">
            <div class="createButton" @click="onClickCreateImage">
                이미지 만들기
            </div>
        </div>

        <div class="modal" id="modal" @click.prevent="closeModal">
            <div class="modal-content" @click.prevent="doNothing">
                <div>
                    <img class="closeButton" @click.prevent="closeModal" src="./image/button_close.svg">
                </div>
                <div class="">
                    <p class="modal-emoji">🎉</p>
                    <p class="modal-text">짠! 이미지가 만들어졌어요</p>
                    <div id='result'>
                        <img v-if="imageData != ''" :src="imageData" @copy="sendCopyLog">
                    </div>
                </div>
                <div class="modal-bottom">
                    <div class="modal-button share-button" @click="shareImage">
                        공유하기
                    </div>
                    <div class="modal-button save-button" @click="saveImage">
                        이미지 저장
                    </div>
                </div>
            </div>
            <!-- <div class="lottie-div">
                <lottie-player class="lottie-player" src="./image/lottie_ani.json" background="transparent" speed="1" ></lottie-player>
            </div> -->

            <div class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body z-toast">
                    이미지가 복사되었어요
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    let fontList = [
        {
            "name": "Pretendard",
            "family": "Pretendard"
        },
        {
            "name": "리디바탕",
            "family": "RIDIBatang"
        }, 
        {
            "name": "Kopub 바탕체",
            "family": "KoPubWorldBatang"
        }, 
        {
            "name": "본고딕",
            "family": "NotoSans"
        }, 
    ]

    let imageList = [
        {"file": "bg_21","fontColor": '#FFFFFF'},
        {"file": "bg_22","fontColor": '#FFFFFF'},
        {"file": "bg_23","fontColor": '#000000'},
        {"file": "bg_24","fontColor": '#000000'},
        {"file": "bg_25","fontColor": '#000000'},
        {"file": "bg_26","fontColor": '#FFFFFF'},
        {"file": "bg_20","fontColor": '#FFFFFF'},
        {"file": "bg_18","fontColor": '#FFFFFF'},
        // {"file": "bg_19","fontColor": '#FFFFFF'},
        {"file": "bg_17","fontColor": '#FFFFFF'},
        {"file": "bg_16","fontColor": '#000000'},
        {"file": "bg_10", "fontColor": '#FFFFFF'},
        {"file": "bg_9", "fontColor": '#000000'},
        {"file": "bg_13", "fontColor": '#FFFFFF'},
        // {"file": "bg_14","fontColor": '#FFFFFF'},
        {"file": "bg_15","fontColor": '#FFFFFF'},
        {"file": "bg_11", "fontColor": '#FFFFFF'},
        {"file": "bg_12","fontColor": '#FFFFFF'},
        // {"file": "bg_0", "fontColor": '#FFFFFF'},
        // {"file": "bg_1", "fontColor": '#FFFFFF'},
        // {"file": "bg_2", "fontColor": '#FFFFFF'},
        // {"file": "bg_3", "fontColor": '#FFFFFF'},
        {"file": "bg_4", "fontColor": '#FFFFFF'},
        {"file": "bg_5", "fontColor": '#FFFFFF'},
        {"file": "bg_6", "fontColor": '#000000'},
        // {"file": "bg_7", "fontColor": '#FFFFFF'},
        // {"file": "bg_8", "fontColor": '#FFFFFF'},
    ]
    
    let app = new Vue({
        el: '#app',
        data: {
            shareText: '',
            imageData: '',
            twitterLink: '',
            selectImage: imageList[0].file,
            selectFont: fontList[0]['family'],
            selectColor: '#FFFFFF',
            selectCharSpacing: 100,
            currentTab: 1,

            tweetText: '',
            tweetName: '',
            tweetUsername: '',

            canvas: null,
            
            errorMessage: '',
            loadingMessage: '',
            resultMessage: '',
            fontList,
            imageList,
            mounted: false,  
            
            customeImage: null,
            customeImageWidth: 100,
            customeImageHeight: 100,
        },
        mounted: function () {
            this.mounted = true;
            fabric.Object.prototype.objectCaching = true;

            // if (this.tweetText == '') {
            //     navigator.clipboard.readText()
            //     .then(text => {
            //         if (text.length < 5) {
            //             return
            //         }

            //         try {
            //             const url = new URL(text)
            //             this.twitterLink = text
            //             this.generateImage()
            //         } catch (error) {
            //             this.tweetText = text
            //             // this.changeTab(1)
            //             // this.render()
            //             // console.log('mounted clipboard readText URL err', error)    
            //         }

            //     })
            //     .catch(err => {
            //         console.log('mounted clipboard readText err', err)
            //     });
            // } else {
            //     this.changeTab(1)
            // }

            this.changeTab(1)

            // console.log(this.$refs.image)
            // this.$refs.image.addEventListener('copy', (event) => {
            //     console.log('copy event')
            // });
            
            // this.render(1300)
        },
        methods: {
            render: function(threshold = 100) {
                clearTimeout(this.timeout)
                this.timeout = setTimeout(() => {
                    this.timeout = null
                    this.redraw()
                    this.showModal()                    
                }, threshold)
            },

            showModal: function () {
                document.getElementById('modal').style.display='flex'
                // setTimeout(() => {
                //     const player = document.querySelector("lottie-player");
                //     player.play();
                // }, 100)
            },
            closeModal: function () {
                document.getElementById('modal').style.display='none'
                // const player = document.querySelector("lottie-player");
                // player.stop();
            },
            doNothing: function (event) {
                event.stopPropagation()
            },

            redraw: function () {
                this.errorMessage = ''
                /*
                if (this.tweetText == '') {
                    this.errorMessage = '트윗 링크를 넣어주세요'
                    return
                } 
                //*/
                
                // 600 * 0.6 = 360
                // console.log(window.screen.width)
                // const imageSize = Math.min(window.screen.width-32, 600);
                const imageSize = 360;
                const margin = 20 ;

                if (this.canvas == null) {
                    
                } else {
                    this.canvas.dispose()
                }
                
                this.canvas = new fabric.Canvas('canvas', {
                    isDrawingMode: false,
                    width: imageSize,
                    height: imageSize,
                    allowTouchScrolling: false,
                });
                
                if (this.customeImage) {
                    // console.log('wow', this.customeImage)
                    var imgInstance = new fabric.Image(this.customeImage, {
                        left: 0,
                        top: 0,
                        right: this.customeImageWidth,
                        bottom: this.customeImageHeight,
                        scaleX: imageSize / this.customeImageWidth,
                        scaleY: imageSize / this.customeImageHeight,
                        opacity: 1,
                        selectable: false,
                    });
                    this.canvas.add(imgInstance);
                } else {
                    let imgElement = document.getElementById(this.selectImage);
                    let imgInstance = new fabric.Image(imgElement, {
                        left: 0,
                        top: 0,
                        right: 1200,
                        bottom: 1200,
                        scaleX: imageSize / 1200,
                        scaleY: imageSize / 1200,
                        opacity: 1,
                        selectable: false,
                    });
                    this.canvas.add(imgInstance);
                }

                let text = new fabric.Textbox(this.tweetText, { 
                    left: margin,
                    width: imageSize - (margin * 2) - 8,
                    fontSize: 15, 
                    fontFamily: this.selectFont,
                    lineHeight: 1.5,
                    selectable: false,
                    fill: this.selectColor,
                    textAlign: 'left',
                    charSpacing: this.selectCharSpacing,
                    splitByGrapheme: true,
                });

                // console.log('height', text.height);
                text.top = (imageSize - (text.height + 54)) / 2
                this.canvas.add(text);

                let nameText = new fabric.Text(this.tweetName, { 
                    left: margin,
                    width: imageSize - (margin * 2),
                    fontSize: 14, 
                    fontFamily: 'NotoSans',
                    top: (text.top + text.height + 16),
                    selectable: false,
                    fill: this.selectColor,
                });
                this.canvas.add(nameText);

                if (this.tweetUsername) {
                    let usernameText = new fabric.Text(`${this.tweetUsername}`, { 
                        left: margin,
                        width: imageSize - (margin * 2),
                        fontSize: 14, 
                        fontFamily: 'NotoSansThin',
                        top: (text.top + text.height + 38),
                        selectable: false,
                        fill: `${this.selectColor}B0`,
                    });
                    // console.log('usernameText.height', usernameText.height)
                    this.canvas.add(usernameText);
                }

                const logoScale = 0.3
                let logoElement = document.getElementById('logo');
                let logoInstance = new fabric.Image(logoElement, {
                    left: imageSize - (150 * logoScale) - 10,
                    top: imageSize - (60 * logoScale) - 10,
                    scaleX: logoScale,
                    scaleY: logoScale,
                    opacity: 1,
                    selectable: false,
                });
                this.canvas.add(logoInstance);

                this.imageData = this.canvas.toDataURL({
                    format: 'png',
                    multiplier: 4,
                })

                this.errorMessage = ''
                this.loadingMessage = ''
                this.resultMessage = '아래 이미지를 꾸욱 눌러 <strong>저장</strong>해 주세요'
                
                console.log('finished render')
            },
            // generateImageFromPaste: async (event) => {
            //     // console.log('generateImageFromPaste', event)
            //     let vueData = app.$data
            //     vueData.twitterLink = event.target.value
            //     await app.generateImage();
            // },
            // generateImage: async () => {
            //     let vueData = app.$data
            //     // console.log('generateImage',  vueData.twitterLink)

            //     vueData.loadingMessage = '이미지가 만들어지는 중이에요'
            //     vueData.errorMessage = ''
            //     vueData.resultMessage = ''

            //     try {
            //         const url = new URL(vueData.twitterLink)
            //         const paths = url.pathname.split('/')

            //         const twitterId = paths[paths.length-1]

            //         const response = await fetch('/api/get/tweet', {
            //             method: 'POST',
            //             headers: {
            //                 'Content-Type': 'application/json;charset=utf-8'
            //             },
            //             body: JSON.stringify({
            //                 tweet: twitterId,
            //             })
            //         });
                
            //         const data = await response.json()

            //         vueData.tweetText = data.text
            //         vueData.tweetName = data.name
            //         vueData.tweetUsername = `@${data.username}`

            //         app.render();
                    
            //     } catch (error) {
            //         // console.log('generateImage error', error)

            //         vueData.errorMessage = '트윗 링크가 바르지 않거나 비공개 계정 트윗입니다.'
            //         vueData.loadingMessage = ''
            //         vueData.resultMessage = ''
            //     }
            // },
            checkSelected: function (image) {
                return image.file == this.selectImage ? 'selected' : 'no-selected'
            },
            checkSelectedFont: function (font) {
                return font == this.selectFont ? 'selected-font' : ''
            },
            onClickCreateImage: function () {
                analytics.logEvent('create_image');
                this.render()
            },
            onclickImage: async(image) => {
                let vueData = app.$data
                // console.log('onclickImage', image)    

                analytics.logEvent('select_image', {image});
                
                vueData.selectImage = image.file
                vueData.selectColor = image.fontColor
                
                app.$refs.fileupload.value = null;
                vueData.customeImage = null;

                // await app.generateImage()
                // app.render()
            },
            onclickFont: async function (family) {
                this.selectFont = family;

                analytics.logEvent('select_font', {family});
                // await this.generateImage()
                // this.render()
            },
            onclickColor: async function (color) {
                this.selectColor = color;

                analytics.logEvent('select_color', {color});

                // await this.generateImage()
                // this.render()
            },
            checkTab: function (tab) {
                return this.currentTab == tab ? 'active' : ''
            },
            changeTab: function (tab) {
                analytics.logEvent('change_tab', {tab});

                this.currentTab = tab
            },
            moveHome: function () {
                window.location.href="https://share.wimouniv.com/";
            },
            openDuetTodo: function () {
                window.open('https://apps.apple.com/kr/app/%EB%93%80%EC%97%A3%ED%88%AC%EB%91%90/id6445875698', '_blank');
            },
            sendCopyLog: function () {

            },
            changeImageInput: function (e) {
                console.log('changeImageInput', e.target.files[0])
                let file = e.target.files[0]
                // this.customeImage = e.target.files[0]
                
                var reader = new FileReader();
                reader.onload = function (event) {
                    var imgObj = new Image();
                    imgObj.src = event.target.result;
                    imgObj.onload = function () {
                        // console.log('imgObj', imgObj.height, imgObj.width)
                        let vueData = app.$data
                        vueData.customeImage = imgObj
                        vueData.customeImageHeight = imgObj.height
                        vueData.customeImageWidth = imgObj.width
                        // app.render()
                    }
                };
                reader.readAsDataURL(file);
            },
            shareImage: async function () {
                let share_url = 'https://share.wimouniv.com/'
                
                const newText = '위모에서 만들기'

                let dataURL = this.imageData;
                let byteString = atob(dataURL.split(',')[1]);
                let mimeString = dataURL.split(',')[0].split(':')[1].split(';')[0]
                let ab = new ArrayBuffer(byteString.length);
                let ia = new Uint8Array(ab);
                for (let i = 0; i < byteString.length; i++) {
                    ia[i] = byteString.charCodeAt(i);
                }
                let blob = new Blob([ab], {type: mimeString});
                let file = new File([blob], 'image.png', {type: mimeString});

                const shareData = {
                    title: newText,
                    text: newText,
                    url: share_url,
                    files: [file],
                }

                if (navigator.share) {
                    await navigator.share(shareData)
                } else {
                    if (navigator.clipboard) {
                        await navigator.clipboard.write([
                            new ClipboardItem({
                                "text/plain": new Blob([`${newText} ${share_url}`], {type: "text/plain"}),
                                [mimeString]: blob
                            })
                        ]);
                    
                        // show toast
                        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                        var toastList = toastElList.map(function (toastEl) {
                            return new bootstrap.Toast(toastEl, {autohide: true, delay: 3000})
                        });
                        toastList.forEach(toast => toast.show()); // This will show all toasts
                    } else {
                        this.errorMessage = '공유하기 기능을 지원하지 않는 브라우저입니다.'
                    }
                }
            },
            saveImage: async function () {
                let isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
                if (isIOS) {
                    // Open the image in a new window for iOS
                    window.open(this.imageData);
                } else {
                    let a = document.createElement('a');
                    a.href = this.imageData;
                    a.download = 'image.png';
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                }
            }
        }
    })
</script>
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>