<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>WIDI SHARE</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style/main.css'>
    <!-- <script src='main.js'></script> -->

    <!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 상용버전, 속도와 용량이 최적화됨. -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
</head>
<body>
    <div id="app">
        <div>
            Widi Share
        </div>
        <div id='inputText'>
            <p>링크를 적어주세요</p>
            <input 
                type="text" 
                id="twitterLink" 
                v-model="twitterLink" 
                placeholder="http://"
                @keyup="generateImage">
            </input>
        </div>

        <div id='error'>
            <p>{{ errorMessage }}</p>
        </div>

        <div id='result'>
            <!-- <p>결과</p> -->
            <img v-if="imageData != ''" :src="imageData">
        </div>

        <div id='selectImage'>
            <div v-for="image in imageList">
                <input type="radio" :id="image" :value="image" v-model="selectImage" @change="generateImage">
                <label :for="image">
                    <img :src="'./image/' + image + '.png'"/>
                </label>
            </div>
        </div>

        <div id='selectFont'>
            <div v-for="font in fontList">
                <input type="radio" :id="font.family" :value="font.family" v-model="selectFont" @change="generateImage">
                <label :for="font.family">
                    {{ font.name }}
                </label>
            </div>
        </div>

        <div id='selectColor'>
            <div>
                <input type="radio" id="white" value="#FFFFFF" v-model="selectColor" @change="generateImage">
                <label for="white">
                    글자색 흰색
                </label>
            </div>
                
            <div>
                <input type="radio" id="black" value="#1C1C1E" v-model="selectColor" @change="generateImage">
                <label for="black">
                    글자색 검정
                </label>
            </div>
        </div>

        <!-- <div id='inputText'>
            <p>공유하고 싶은 문자열</p>
            <textarea id="shareText" v-model="shareText"></textarea>
        </div>

        <button @change="generateImage">이미지 생성하기</button> -->

        <div id='share'>
            <p @click="shareImage">공유하기</p>
        </div>
    </div>
</body>
</html>

<script>
    let fontList = [
        {
            "name": "리디바탕",
            "family": "RIDIBatang"
        }, 
        {
            "name": "Kopub 바탕체",
            "family": "KopubBatang"
        }, 
        {
            "name": "본고딕",
            "family": "NotoSans"
        }
    ]

    let imageList = Array.from(Array(8).keys()).map((v) => `bg_0${v}`)
    
    let app = new Vue({
        el: '#app',
        data: {
            shareText: '',
            imageData: '',
            twitterLink: 'https://twitter.com/FlatcherLynd/status/1396705389744254976?s=20',
            selectImage: imageList[0],
            selectFont: fontList[0]['family'],
            selectColor: '#FFFFFF',

            errorMessage: '',
            fontList,
            imageList,
        },
        methods: {
            generateImage: async () => {
                let vueData = app.$data
                console.log('generateImage',  vueData.twitterLink)

                vueData.errorMessage = '로딩중입니다'

                try {
                    const url = new URL(vueData.twitterLink)
                    const paths = url.pathname.split('/')

                    const twitterId = paths[paths.length-1]

                    console.log('twitterId',  twitterId)

                    const response = await fetch('/api/generate/tweet', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        },
                        body: JSON.stringify({
                            tweet: twitterId,
                            image: vueData.selectImage,
                            font: vueData.selectFont,
                            color: vueData.selectColor,
                        })
                    });
                    
                    const data = await response.json()
                    vueData.imageData = data.image

                    vueData.errorMessage = ''
                } catch (error) {
                    console.log('generateImage error', error)

                    vueData.errorMessage = '이미지 생성중에 에러가 발생했습니다.'
                }
            },
            // generateImage: async (event) => {
            //     let vueData = app.$data
            //     console.log('generateImage', vueData)

            //     const response = await fetch('/api/generate', {
            //         method: 'POST',
            //         headers: {
            //             'Content-Type': 'application/json;charset=utf-8'
            //         },
            //         body: JSON.stringify({
            //             text: vueData.shareText,
            //             image: vueData.selectImage,
            //         })
            //     });

            //     const data = await response.json()

            //     // console.log('generateImage', vueData.imageData)
            //     vueData.imageData = data.image
            //     // console.log('generateImage', vueData.imageData)
            // },
            shareImage: async () => {
                let vueData = app.$data
                console.log('shareImage')

                const base64url = vueData.imageData
                const blob = await (await fetch(base64url)).blob();
                // const file = new File([blob], 'fileName.png', { type: blob.type });
                
                if (navigator.canShare && navigator.canShare(shareData)) {
                    
                    navigator.share({
                        title: 'Hello',
                        text: 'Check out this image!',
                        url: 'https://secure-dusk-50656.herokuapp.com/test',
                        // files: [file],
                    })
                } else {
                    // var tempElem = document.createElement('textarea');
                    // tempElem.value = share_url;
                    // document.body.appendChild(tempElem);

                    // tempElem.select();
                    // document.execCommand("copy");
                    // document.body.removeChild(tempElem);

                    // this.$toast.open({
                    //     message: '링크 복사 완료',
                    //     duration: 2000,
                    //     position: 'bottom'
                    // })
                }
            }
        }
    })
</script>
