<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>WIDI SHARE</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style/main.css'>
    <!-- <script src='main.js'></script> -->

    <!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 상용버전, 속도와 용량이 최적화됨. -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
</head>
<body>
    <div id="app">
        <div>
            {{ message }}
        </div>
        <div id='inputText'>
            <p>twitter link</p>
            <input type="text" id="twitterLink" v-model="twitterLink" @change="changeTwitterLink"></input>
        </div>

        <div id='selectImage'>
            <div>
                <input type="radio" id="bg_01" value="bg_01" v-model="selectImage" checked>
                <label for="bg_01">
                    <img src="/bg_01.png"/>
                </label>
            </div>
                
            <div>
                <input type="radio" id="bg_02" value="bg_02" v-model="selectImage">
                <label for="bg_02">
                    <img src="/bg_02.png"/>
                </label>
            </div>
        </div>
        <div id='inputText'>
            <p>공유하고 싶은 문자열</p>
            <textarea id="shareText" v-model="shareText"></textarea>
        </div>

        <button @click="generateImage">이미지 생성하기</button>

        <div id='result'>
            <p>결과</p>
            <img v-if="imageData != ''" :src="imageData">
        </div>
    </div>
</body>
</html>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            message: 'Widi Share에 온 것을 환영합니다.',
            shareText: '',
            imageData: '',
            twitterLink: 'https://twitter.com/do_therighthing/status/1394655999617765383?s=20',
            selectImage: 'bg_01',
        },
        methods: {
            changeTwitterLink: async () => {
                let vueData = app.$data
                console.log('changeTwitterLink',  vueData.twitterLink)

                try {
                    const url = new URL(vueData.twitterLink)
                    const paths = url.pathname.split('/')

                    const twitterId = paths[paths.length-1]

                    console.log('twitterId',  twitterId)

                    const response = await fetch('/api/generate/tweet', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        },
                        body: JSON.stringify({
                            tweet: twitterId,
                            image: vueData.selectImage,
                        })
                    });
                    
                    const data = await response.json()
                    vueData.imageData = data.image
                } catch (error) {
                    console.log('changeTwitterLink error', error)
                }
            },
            generateImage: async (event) => {
                let vueData = app.$data
                console.log('generateImage', vueData)

                const response = await fetch('/api/generate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify({
                        text: vueData.shareText,
                        image: vueData.selectImage,
                    })
                });

                const data = await response.json()

                // console.log('generateImage', vueData.imageData)
                vueData.imageData = data.image
                // console.log('generateImage', vueData.imageData)
            }
        }
    })
</script>
